@import "../../sharedStyles.scss";
@import "../../colours.scss";

.formDiv {
  height: min-content;
  width: 100%;
  margin: 0rem 0rem 0.5rem 0rem;
  flex: 1 0 0;
}

.inputLabelStyle {
  color: $grey;
  font-family: Inter;
  font-size: 0.87rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.inputStyles {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  align-self: stretch;
  border-radius: 0.125rem;
  height: min-content;
  border: 0.063rem solid $border;
  background: $white;
  width: 100%;

  &:hover {
    border-color: $hover-border-color;
    box-shadow: 0rem 0rem 0rem 0.125rem $shadow;
  }
}
