@import "../../sharedStyles.scss";
@import "../../colours.scss";

.container {
  position: relative;
  height: 100%; // Full viewport height
  width: 100%;
  padding: 0;
  margin: 0;
}

.leftCol {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  flex-basis: 50%; // Ensures both columns take up 50% of the container width
  max-width: 50%; // Prevents any over-expansion
}

.rightCol {
  background-color: $white;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-basis: 50%; // Ensures both columns take up 50% of the container width
  max-width: 50%; // Prevents any over-expansion
}

.formContainer {
  max-width: 25rem;
  padding: 2rem;
}

.leftContent {
  text-align: center;
  color: $white;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.slogan {
  margin-top: 20px;
  color: $white;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.75rem;
  color: $white;
}

.submitButton {
  width: 100%;
}
