@import "../../sharedStyles.scss";
@import "../../colors.scss";

.leftCol {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: $background-overlay;
  object-fit: contain;
  padding-left: 2.5rem !important;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.rightCol {
  background-color: $white;
  padding: 0;
  margin: 0;
}

.formContainer {
  padding: 2rem;
}

.leftContent {
  text-align: center;
  color: $white;
}

.logo {
  max-width: 12.5rem;
  margin-bottom: 1.25rem;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 1;
}

.slogan {
  margin-top: 1.25rem;
  color: $white;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  width: 55%;
  line-height: 2.5rem;
  text-align: left;
  margin-right: 4rem;
  margin-left: 1.25rem;
}

.copyright {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  font-size: 0.75rem;
  color: $text-color;
}

.submitButton {
  width: 100%;
}