@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.filled_btn_large {
  display: flex;
  height: 2.5rem;
  padding: 0.4rem 3.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.62rem;
  border-radius: 0.37rem;
  background: rgb(24, 154, 223);
  box-shadow: 0rem 0.12rem 0rem 0rem rgba(0, 0, 0, 0.04);
  border-color: rgb(0, 0, 0);

  &:hover {
    background-color: rgb(255, 255, 255);

    .btn_text {
      color: blue;
    }
  }

  .btn_text {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.filled_btn {
  display: flex;
  padding: 0.25rem 0.93rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.37rem;
  background: rgb(24, 154, 223);
  box-shadow: 0rem 0.12rem 0rem 0rem rgba(0, 0, 0, 0.04);
  border-color: rgb(0, 0, 0);

  &:hover {
    background: rgb(255, 255, 255) !important;

    .btn_text {
      color: blue;
    }
  }

  .btn_text {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.37rem;
  }
}

.white_btn {
  display: flex;
  padding: 0.4rem 0.938rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: white;
  border-color: var(--border);

  &:hover {
    border-color: blue;

    .btn_text {
      color: white;
    }
  }

  .btn_text {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.37rem;
  }
}

.round_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1.5em;
  border: 2px solid black;
  border-radius: 25px; // Adjust radius as needed
  background-color: transparent;
  color: black;
  font-size: 16px; // Adjust font size as needed
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: black;
    color: white;
  }

  &::after {
    content: "➔";
    margin-left: 0.5em;
  }
}
