@import "../../sharedStyles.scss";
@import "../../colors.scss";

.heading {
  margin: 0;
  color: $text-color;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  position: sticky;
}

.button {
  background-color: $primary;

  &:hover {
    background-color: $hover-border-color;
  }
}