@import "../../colours.scss";

.dividerStyles {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.verticalDivider {
  width: 1px;
  background-color: $border;
  margin: 0 0.5rem;
  display: inline-block;
  height: 100px;
}
