@import '../../colors.scss';

.heading {
    color: $black;
    /* H5/medium */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    /* 150% */
}