@import "../../sharedStyles.scss";
@import "../../colors.scss";
@import url('https://fonts.googleapis.com/css?family=Inter');

* {
  font-family: Inter;
}

.header_app {
  background: linear-gradient(90deg, #2F54EB 27%, #04D178 100%) !important;
  box-shadow: 0rem 1.5rem 1.5rem 0rem $light-shadow;
  border-style: solid;
  border-width: 0rem 0rem 0.1rem 0rem;
  border-color: $light-shadow;
}

.logo {
  flex: 0 0 auto;
  margin-left: -1rem;
}

.icon {
  font-size: 1rem;
  cursor: pointer;
  color: $white;
}

.avatar {
  background-color: $white;
  color: $black;
  width: 2rem;
  height: 2rem;

  .text_styles {
    color: $white;
  }
}

.userName {
  margin-left: 0rem;
  color: $white;
}