@import "../../sharedStyles.scss";
@import "../../colours.scss";

.header {
  padding-left: 1rem;
  background-color: $white;
}

.logo {
  flex: 0 0 auto;
}

.icon {
  font-size: 16px;
  cursor: pointer;
}

.avatar {
  background-color: $black;
  color: $white;
  width: 2rem;
  height: 2rem;
}

.userName {
  margin-left: 0.5rem;
}
