@import "../../sharedStyles.scss";
@import "../../colours.scss";

.formDiv {
  margin-bottom: 1rem;
}

.labelStyle {
  margin-bottom: -0.8rem;
}

.multiSelect {
  width: 100%;
  .ant-select-selector {
    height: auto; // To adjust height based on selected items
  }
}
