@import "../../sharedStyles.scss";
@import "../../colours.scss";

.tableContainer {
  background-color: $white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.tableHeader {
  margin-bottom: 1rem;
}

.customTable {
  flex-direction: column;
}

.customTable .ant-table-body {
  flex: 1;
  min-height: 25rem; // Ensure this matches the height for 10 rows
  display: block;
}

.customTable .ant-table-placeholder {
  height: 100%; // Ensures the placeholder takes up remaining space
}

.customTable .ant-table-row {
  min-height: 2.5rem; // Adjust this to match the height of a single row
}

.customTable .ant-table-tbody > tr {
  height: 2.5rem; // Ensure each row has a fixed height
}

.customTable .ant-table-tbody > tr:last-child td {
  border-bottom: 0; // Remove border for the last row to make it look clean
}

.customTable .ant-pagination {
  margin-top: 1rem; // Add some space above the pagination control
  align-self: flex-end; // Ensure pagination is at the bottom of the table
}

.table-action-buttons {
  color: $primary;
  cursor: pointer;
  text-decoration: underline; // Optional for making links look like buttons
  &:hover {
    text-decoration: none; // Remove underline on hover, if desired
  }
}
.custom {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: $text-color !important;
  font-style: normal;
  line-height: 1.5rem;
}
