@import "../../sharedStyles.scss";
@import "../../colors.scss";

.tableContainer {
  background-color: $white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.customTable {
  flex-direction: column;
  height: 100%;
}



.table-action-buttons {
  color: $primary;
  cursor: pointer;
  text-decoration: underline; // Optional for making links look like buttons

  &:hover {
    text-decoration: none; // Remove underline on hover, if desired
  }
}

.text_styles {
  color: $black;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}