.toggleLabel {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
}

.toggleLabelSuffix {
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
}
