// src/colours.scss

$primary: #2f54eb;
$background-overlay: #00000099;
$blue: #1235c1;
$white: #fff;
$text-color: #434343;
$border: #d9d9d9;
$hover-border-color: #4570b5;
$grey: #00000040;
$geek-blue: #f0f5ff;
$light-grey-background: #fafafa;
$black: #000000d9;
$light-text: #00000073;
$input-grey-background: #f5f5f5;
$shadow: #00000005;
$dark-black: #1c1c1e;
$light-black: #1c1c1eb8;
$light-blue: #4eb6f2;
